
.chatContainer{
    display: flex;
    position: absolute;
    opacity: 0;
  
    animation:openChats 1s  forwards;
   border-style: solid;
   border-radius: 12px;
   border-width: 0.2px;
   border-color:#0D94FF ;
   padding: 0.1px;
   box-shadow: 1px 1px 8px 1px #7f8e9b;
   

}



@keyframes openChats {
     from {
       bottom:0px;
       right: 5vw;
     
     }

    to  {
       bottom: 10px;
       right: 5vw;
       opacity: 1;
     
    }
    
}