.container{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-Items: center;
    align-Content: center;
    margin-top: 5px;
    padding: 5px;
    font-family: cursive;
    font-weight: bold;
    height: 20px;
    overflow-y: 'scroll',
    
    
    
    
}

.container:hover {
  background: #a8e5f7;
  cursor: pointer;
}
 .iconStar{
    width: 20px;
     position: absolute;
     left: 16px;

 }
 .iconUser{
    width: 20px;
    margin-right: 10px;
    margin-left: 20px;
 }
 